a{
    color: red;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
h1{
    text-align: center;
    color:crimson;
    text-shadow:2px 2px white;
}
h2{
    color:white;
    text-shadow:2px 2px crimson;
}
h1.a{
    text-align: center;
    color:white;
    text-shadow:2px 2px crimson;
}
ul {
  list-style-type: none;
}
ol {
  list-style-type:upper-roman;
  list-style-position: inside;
  width: 160px;
  border-style: solid;
}
body{
    background-color: rgb(156, 188, 247);
    font:  arial;
}
article{
    border-style: solid;
    width: 220px;
    padding-left: 12px;
}
aside{
    text-align: left;
    color: white;
    text-shadow:2px 2px grey;
}
footer{

    text-align: center;
    border: 2px solid white;
    background-color: white;
    padding:  10px;
    
    height:initial;
    width:110%;
}
form {
    background-color: rgb(94, 141, 228);
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid black;
    border-radius: 1em;
}
